In [1]:
import pandas as pd

In [2]:
url = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx"
df = pd.read_excel(url, sheet_name='Canada by Citizenship', skiprows=range(20), skipfooter=2)
df.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1731,2112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,174,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,46,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,437,407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# If unnamed columns are present
df.drop(columns=df.columns.values[-8:], inplace=True)

In [4]:
df.shape

(195, 43)

In [5]:
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [6]:
df.OdName

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
190          Viet Nam
191    Western Sahara
192             Yemen
193            Zambia
194          Zimbabwe
Name: OdName, Length: 195, dtype: object

In [7]:
df['OdName']

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
190          Viet Nam
191    Western Sahara
192             Yemen
193            Zambia
194          Zimbabwe
Name: OdName, Length: 195, dtype: object

In [8]:
# to remove selected columns
df.drop(columns=['Type', 'Coverage', 'DEV', 'AREA', 'REG'], inplace=True)

In [9]:
df.rename(columns={ 'OdName' : 'Country', 'AreaName' : 'Continent' }, inplace=True)

In [10]:
df.head()

,Country,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

In [11]:
# Filtering
df[df['Country'] == 'India']

,Country,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
79,India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087

In [12]:
df[df['Continent'] == 'Asia']

,Country,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
8,Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,147,224,218,198,205,267,252,236,258,207
11,Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,230,359,236,203,125,165,209,138,161,57
13,Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,...,12,12,12,22,9,35,28,21,39,32
14,Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
20,Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,...,1,5,10,7,36,865,1464,1879,1075,487
25,Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,...,3,4,5,11,10,5,12,6,3,6
30,Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,...,348,370,529,460,354,203,200,196,233,288
36,China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,...,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129
37,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,...,536,729,712,674,897,657,623,591,728,774
38,"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,...,21,21,32,16,12,21,21,13,33,29
46,Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,...,11,7,9,4,7,6,18,6,12,16
48,Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,...,15,14,10,7,19,11,45,97,66,17
66,Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,106,114,125,132,112,128,126,139,147,125
79,India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
80,Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,...,552,632,613,657,661,504,712,390,395,387
81,Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,...,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291
82,Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,...,1796,2226,1788,2406,3543,5450,5941,6196,4041,4918
84,Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,...,2788,2446,2625,2401,2562,2316,2755,1970,2134,1945
87,Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,...,973,1067,1212,1250,1284,1194,1168,1265,1214,982
88,Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,...,1733,1940,1827,1421,1581,1235,1831,1635,1206,1255
89,Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,545,506,408,436,394,431,377,381,462,348
92,Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,...,74,66,35,62,53,68,67,58,73,48
93,Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,245,173,161,135,168,173,157,159,278,123
94,Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,...,38,42,74,53,32,39,54,22,25,15
96,Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,...,3293,3709,3802,3467,3566,3077,3432,3072,1614,2172
105,Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,...,401,593,580,600,658,640,802,409,358,204
106,Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,...,1,0,0,2,1,7,4,3,1,1
114,Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,...,34,59,64,82,59,118,169,103,68,99
118,Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,...,191,210,953,1887,975,1153,556,368,193,262
121,Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,...,404,607,540,511,581,561,1392,1129,1185,1308
129,Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,...,12,14,18,16,10,7,14,10,13,11
130,Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,...,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603
136,Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,...,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544
139,Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,5,11,2,5,9,6,18,3,14,6
140,Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,...,5352,5832,6215,5920,7294,5874,5537,4588,5316,4509
151,Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,...,128,198,252,188,249,246,330,278,286,267
156,Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,...,311,392,298,690,734,366,805,219,146,141
162,Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,...,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394
163,State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,376,453,627,441,481,400,654,555,533,462
169,Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,...,1116,1458,1145,1056,919,917,1039,1005,650,1009
170,Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,14,85,46,44,15,50,52,47,34,39
171,Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,...,392,575,500,487,519,512,499,396,296,400
177,Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,...,1736,2065,1638,1463,1122,1238,1492,1257,1068,729
178,Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,16,40,26,37,13,20,30,20,20,14
182,United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,...,41,31,42,37,33,37,86,60,54,46
187,Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,175,330,262,284,215,288,289,162,235,167
190,Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
192,Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,...,124,161,140,122,133,128,211,160,174,217

In [13]:
df.set_index('Country', inplace=True)
# to reset index
# df.reset_index(inplace=True)

In [14]:
df[[1980, 1982, 1983, 1984, 1985]]

                1980  1982  1983  1984  1985
Country
Afghanistan       16    39    47    71   340
Albania            1     0     0     0     0
Algeria           80    71    69    63    44
American Samoa     0     0     0     0     0
Andorra            0     0     0     0     0
...              ...   ...   ...   ...   ...
Viet Nam        1191  2162  3404  7583  5907
Western Sahara     0     0     0     0     0
Yemen              1     1     6     0    18
Zambia            11    11     7    16     9
Zimbabwe          72   102    44    32    29

[195 rows x 5 columns]

In [15]:
years = list(range(1980, 2014))
years

[1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013]

In [16]:
df.loc[['India', 'China'], years]

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
India,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
China,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,...,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129

## Summarizing Data

In [17]:
df.groupby('Continent').count()

,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
Asia,49,49,49,49,49,49,49,49,49,49,...,49,49,49,49,49,49,49,49,49,49
Europe,43,43,43,43,43,43,43,43,43,43,...,43,43,43,43,43,43,43,43,43,43
Latin America and the Caribbean,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
Northern America,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Oceania,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14

In [18]:
df.groupby('Continent').sum()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,3951,4363,3819,2671,2639,2650,3782,7494,7552,9894,...,28192,27523,29188,28284,29890,34534,40892,35441,38083,38543
Asia,31025,34314,30214,24696,27274,23850,28739,43203,47454,60256,...,134850,159253,149054,133459,139894,141434,163845,146894,152218,155075
Europe,39760,44802,42720,24638,22287,20844,24370,46698,54726,60893,...,38082,35955,33053,33495,34692,35078,33425,26778,29177,28691
Latin America and the Caribbean,13081,15215,16769,15427,13678,15171,21179,28471,21924,25060,...,22181,24747,24676,26011,26547,26867,28818,27856,27173,24950
Northern America,9378,10030,9074,7100,6661,6543,7074,7705,6469,6790,...,6990,8394,9613,9463,10190,8995,8142,7677,7892,8503
Oceania,1942,1839,1675,1018,878,920,904,1200,1181,1539,...,1788,1585,1473,1693,1834,1860,1834,1548,1679,1775

In [19]:
df.groupby('DevName').count()

,Continent,RegName,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
DevName,,,,,,,,,,,,,,,,,,,,,
Developed regions,48,48,48,48,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
Developing regions,147,147,147,147,147,147,147,147,147,147,...,147,147,147,147,147,147,147,147,147,147

In [20]:
df.groupby('Continent').mean()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,73.166667,80.796296,70.722222,49.462963,48.870370,49.074074,70.037037,138.777778,139.851852,183.222222,...,522.074074,509.685185,540.518519,523.777778,553.518519,639.518519,757.259259,656.314815,705.240741,713.759259
Asia,633.163265,700.285714,616.612245,504.000000,556.612245,486.734694,586.510204,881.693878,968.448980,1229.714286,...,2752.040816,3250.061224,3041.918367,2723.653061,2854.979592,2886.408163,3343.775510,2997.836735,3106.489796,3164.795918
Europe,924.651163,1041.906977,993.488372,572.976744,518.302326,484.744186,566.744186,1086.000000,1272.697674,1416.116279,...,885.627907,836.162791,768.674419,778.953488,806.790698,815.767442,777.325581,622.744186,678.534884,667.232558
Latin America and the Caribbean,396.393939,461.060606,508.151515,467.484848,414.484848,459.727273,641.787879,862.757576,664.363636,759.393939,...,672.151515,749.909091,747.757576,788.212121,804.454545,814.151515,873.272727,844.121212,823.424242,756.060606
Northern America,4689.000000,5015.000000,4537.000000,3550.000000,3330.500000,3271.500000,3537.000000,3852.500000,3234.500000,3395.000000,...,3495.000000,4197.000000,4806.500000,4731.500000,5095.000000,4497.500000,4071.000000,3838.500000,3946.000000,4251.500000
Oceania,138.714286,131.357143,119.642857,72.714286,62.714286,65.714286,64.571429,85.714286,84.357143,109.928571,...,127.714286,113.214286,105.214286,120.928571,131.000000,132.857143,131.000000,110.571429,119.928571,126.785714

In [21]:
df.sort_values(2010, ascending=False)

,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129
United Kingdom of Great Britain and Northern Ireland,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,9470,...,7533,7258,7140,8216,8979,8876,8724,6204,6195,5827
United States of America,Northern America,Northern America,Developed regions,9378,10030,9074,7100,6661,6543,7074,...,6990,8394,9613,9463,10190,8995,8142,7676,7891,8501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,Oceania,Micronesia,Developing regions,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
Canada,Northern America,Northern America,Developed regions,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
Nauru,Oceania,Micronesia,Developing regions,1,0,0,0,0,0,0,...,1,1,1,0,0,1,0,0,0,1
New Caledonia,Oceania,Melanesia,Developing regions,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2
Liechtenstein,Europe,Western Europe,Developed regions,1,4,2,0,0,3,0,...,0,1,0,0,1,1,0,2,1,0

In [22]:
df.groupby('Continent', as_index=False).mean()

,Continent,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Africa,73.166667,80.796296,70.722222,49.462963,48.870370,49.074074,70.037037,138.777778,139.851852,...,522.074074,509.685185,540.518519,523.777778,553.518519,639.518519,757.259259,656.314815,705.240741,713.759259
1,Asia,633.163265,700.285714,616.612245,504.000000,556.612245,486.734694,586.510204,881.693878,968.448980,...,2752.040816,3250.061224,3041.918367,2723.653061,2854.979592,2886.408163,3343.775510,2997.836735,3106.489796,3164.795918
2,Europe,924.651163,1041.906977,993.488372,572.976744,518.302326,484.744186,566.744186,1086.000000,1272.697674,...,885.627907,836.162791,768.674419,778.953488,806.790698,815.767442,777.325581,622.744186,678.534884,667.232558
3,Latin America and the Caribbean,396.393939,461.060606,508.151515,467.484848,414.484848,459.727273,641.787879,862.757576,664.363636,...,672.151515,749.909091,747.757576,788.212121,804.454545,814.151515,873.272727,844.121212,823.424242,756.060606
4,Northern America,4689.000000,5015.000000,4537.000000,3550.000000,3330.500000,3271.500000,3537.000000,3852.500000,3234.500000,...,3495.000000,4197.000000,4806.500000,4731.500000,5095.000000,4497.500000,4071.000000,3838.500000,3946.000000,4251.500000
5,Oceania,138.714286,131.357143,119.642857,72.714286,62.714286,65.714286,64.571429,85.714286,84.357143,...,127.714286,113.214286,105.214286,120.928571,131.000000,132.857143,131.000000,110.571429,119.928571,126.785714

In [23]:
Asia top 10 countries 2013

SyntaxError: invalid syntax (<ipython-input-23-dfbf5889e8d6>, line 1)